{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content" style="margin: 0 auto;width: 400px">
    <h1 style="text-align: center">Task Master</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <table style ="border-collapse: collapse; width: 100%; border: 1px solid #000000">
        <tr>
            <th style="height: 30px; border: 1px solid #000000">Task</th>
            <th style="height: 30px; border: 1px solid #000000"> Added</th>
            <th style="height: 30px; border: 1px solid #000000">Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td style="text-align: center;padding: 5px; border: 1px solid #000000">{{ task.content }}</td>
                <td style="text-align: center;padding: 5px; border: 1px solid #000000">{{ task.date_created.date() }}</td>
                <td style="text-align: center;padding: 5px; border: 1px solid #000000">
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form style="margin-top: 20px; text-align: center"; action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>
{% endblock %}